:root {
  --primary: #0dba8a;
  --text-white: #ffffff;
  --text-black: #092e24;
  --bg-grey: #f0f0f0;
  --bg-secondary: #dcf6ef;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  background-color: var(--bg-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--text-white);
  border-radius: 16px;
}

.form {
  padding: 50px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h2 {
  font-size: 2.25rem;
  font-weight: 600;
  font-family: 'poppins';
  margin-top: 0px;
}

.form .form-input {
  display: flex;
  flex-direction: column;
}

.form .form-input label {
  font-family: "poppins";
  font-size: 1.25rem;
  font-weight: 500;
}

.form .form-input input {
  width: 20rem;
  height: 2.7rem;
  border-radius: 0.5rem;
  background: #e7e7e7;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "poppins";
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.form .form-input input:focus {
  outline: none;
}

.form button {
  background-color: var(--primary);
  color: var(--text-white);
  font-family: "poppins";
  border: none;
  border-radius: 8px;
  padding: 8px 140px 8px 140px;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 16px;
  cursor: pointer;
  transition: .3s all ease;
}

.form button:hover{
    background-color: #0ca076
}