:root {
  --primary: #0dba8a;
  --text-white: #ffffff;
  --text-black: #092e24;
  --bg-grey: #f0f0f0;
  --bg-secondary: #dcf6ef;
}

body {
  margin: 0;
  padding: 0;
}

.kontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-grey);
}

.device {
  width: 375px;
  height: 100vh;
  background-color: var(--text-white);
  padding: 1.5rem;
}

.back{
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.wrap-header {
  display: flex;
  justify-content: start;
  font-family: "poppins";
  margin-bottom: 1rem;
}

.wrap-header .left {
  height:100%;
  width: 50%;
  display: flex ;
  justify-content: start;
  align-items: center;
}

.wrap-header .left a img {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
}

.wrap-header .left h3 {
  font-family: "Poppins";
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--text-black);
  margin-bottom: 0;
}
.right{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.wrap-content {
  font-family: "poppins";
}

.mart-list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(12, 67, 52, 0.2);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mart-list img {
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  object-fit: cover;
  margin-right: 1rem;
}

.mart-list .desc h3 {
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  color: var(--text-black);
  margin-bottom: 0.5rem;
}

.mart-list .desc p {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  color: var(--text-black);
  margin-bottom: 0px;
}

.wrap-content a {
  text-decoration: none;
}

.wrap-content .tittle-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrap-content .tittle-img img {
  width: 7.8125rem;
  height: 7.8125rem;
  border-radius: 1rem;
  object-fit: cover;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.wrap-content h5 {
  color: var(--text-black, #092e24);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1rem;
}

.list-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
}

.list-product .product-img {
  position: relative;
  width: 100%;
}

.list-product .product-img img {
  width: 9.25rem;
  height: 6rem;
  border-radius: 0.6rem;
}

.list-product .product-img button {
  position: absolute;
  background-color: var(--primary);
  top: 60px;
  left: 115px;
  border-radius: 50%;
  border: none;
  padding: 0.1rem 0.2rem;
}

.list-product .detail-product h6 {
  color: var(--text-black);
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 0.5rem;
  margin-bottom: 0px;
}

.list-product .detail-product p {
  color: var(--text-black);
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal-dialog {
  max-width: 300px;
}

.modal-footer .btn.btn-primary {
  border-radius: 0.5rem;
  background-color: var(--primary);
  border: none;
  font-size: 0.875rem;
}
.modal-footer .btn.btn-secondary {
  border-radius: 0.5rem;
  background-color: var(--bg-secondary);
  color: var(--primary);
  border: none;
  font-size: 0.875rem;
}

.modal-body .form-control {
  background-color: var(--bg-grey);
}

.list-cart {
  margin-top: 2rem;
}

.list-cart .cart-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d1d0d0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.list-cart .cart-detail .left {
  display: flex;
  align-items: center;
}

.list-cart .cart-detail .right {
  display: flex;
  align-items: center;
}

.list-cart .cart-detail .left img {
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  object-fit: cover;
  margin-top: 0px;
  margin-right: 1rem;
}

.list-cart .cart-detail .left .desc-product .price {
  color: var(--primary, #0dba8a);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0px;
}

.list-cart .cart-detail .left .desc-product .title {
  color: var(--text-black);
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0px;
}

.list-cart .cart-detail .right .btn-delete {
  background-color: #fadddd;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  border: none;
  margin-left: 0.5rem;
}

.list-cart .cart-detail .right .qty-field {
  background-color: var(--bg-grey);
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
}

.list-cart .cart-detail .right .qty-field p {
  font-family: "poppins";
  margin-bottom: 0px;
  font-weight: 500;
}

.top-bot {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ongkir{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'poppins';
  margin-bottom: .5rem;
}
.ongkir .promo{
  display: flex;
  align-items: center;
}

.ongkir .promo s{
  margin-right: .2rem;
}
.ongkir h5{
  font-size: 1rem;
  margin-bottom: 0px;
}
.ongkir p{
  font-size: 1rem;
  margin-bottom: 0px;
}
.fee{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'poppins';
  margin-bottom: .5rem;
}

.fee h5{
  font-size: 1rem;
  margin-bottom: 0px;
}
.fee p{
  font-size: 1rem;
  margin-bottom: 0px;
}
.sub-total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'poppins';
  margin-bottom: .5rem;
}

.sub-total h5{
  font-size: 1rem;
  margin-bottom: 0px;
}
.sub-total p{
  font-size: 1rem;
  margin-bottom: 0px;
}

.total-price {
  display: flex;
  justify-content: space-between;
}

.total-price h3 {
  font-family: Poppins;
  font-size: 1.225rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.total-price .tp{
    color: var(--primary);
}

.wrap-bot .btn-checkout{
    background-color: var(--primary);
    color: var(--text-white);
    font-weight: 500;
    border: none;
    border-radius: .5rem;
    padding: .5rem 7.9rem;
    margin-top: 1rem;
}