:root {
  --primary: #0dba8a;
  --text-white: #ffffff;
  --text-black: #092e24;
  --bg-grey: #f0f0f0;
  --bg-secondary: #dcf6ef;
}

body {
  margin: 0;
  padding: 0;
}

.kontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-grey);
}

.device {
  width: 375px;
  height: 100vh;
  background-color: var(--text-white);
  padding: 1.5rem;
  font-family: "poppins";
}

.wrap-header {
  display: flex;
  align-items: center;
  font-family: "poppins";
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.wrap-header a img {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
}

.wrap-header h3 {
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--text-black);
  margin-bottom: 0;
}
.wrap-header h3 span {
  color: var(--primary);
}

.wrap-content {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrap-description {
  font-family: "poppins";
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  height: 100%;
}

.wrap-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap-footer h5 {
  margin-bottom: 0px;
}

.btn.btn-primary {
  background-color: var(--primary);
  color: var(--text-white);
  border-radius: 0.5rem;
  font-family: Poppins;
  font-size: 1rem;
  border: none;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
  cursor: pointer;
}

.wrap-tab {
  margin-bottom: 1rem;
  width: 100%;
}

.btn.btn-primary.tabs {
  background-color: var(--primary);
  color: var(--text-white);
  border-radius: 0.5rem;
  font-family: Poppins;
  font-size: 0.75rem;
  border: none;
  width: 90px;
  height: 30px;
  font-weight: 500;
  position: relative;
  padding: 0;
  text-align: center;
}

.btn.btn-primary.tabs.off {
  background-color: var(--bg-secondary);
  color: var(--primary);
}

.mr-1 {
  margin-right: 0.5rem;
}

.bottom select {
  width: 100%;
  height: 40px;
  border-radius: 0.5rem;
  background: #e7e7e7;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "poppins";
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.wrap-success {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap-success h3 {
  font-family: "poppins";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.wrap-success a{
    cursor: pointer;
}

#back{
    width: 20rem;
}