:root {
    --primary: #0dba8a;
    --text-white: #ffffff;
    --text-black: #092e24;
    --bg-grey: #f0f0f0;
    --bg-secondary: #dcf6ef;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .container{
      display: flex;
      height: 100vh;
      background-color: var(--bg-grey);
  }